.pageContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: space-evenly;
  padding-block-start: 128px;
  padding-block-end: 128px;
  position: relative;
}

.backgroundLayer {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: linear-gradient(
      0deg,
      rgba(11, 25, 53, 0.7) 0%,
      var(--backgroundInversePrimary, rgba(11, 25, 53, 0.88)) 43.21%
    ),
    url("/bg.jpg");
  background-size: cover;
  filter: blur(1.5px);
}

.leftSide {
  z-index: 1;
}

.rightSide {
  z-index: 1;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .pageContainer {
    flex-direction: column; /* Stack vertically on small screens */
    padding-block-start: 64px;
    padding-block-end: 164px !important;
    align-items: center;
    height: 100%;
  }

  .rightSide {
    padding-top: 20px;
  }
}
